version: '3.9'
networks:
  freddy:

services:
  java:
    image: openjdk:16
    networks:
        - freddy
    restart: unless-stopped
    volumes:
        - ./start.sh:/start.sh
        - ./gradle:/gradle
        - ./gradlew:/gradlew
        - ./build.gradle:/build.gradle
        - ./settings.gradle:/settings.gradle
        - ./src:/src
    working_dir: /
    entrypoint: ['./start.sh']
    container_name: freddy_dev
    profiles:
      - dev
    env_file:
      - ./settings.env
  freddy:
    image: ghcr.io/driedsponge/freddy:latest
    networks:
      - freddy
    restart: unless-stopped
    container_name: freddy_prod
    profiles:
      - prod
    env_file:
      - ./settings.env

